<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<link rel="shortcut icon" href="../images/Spotify_favicon.png" type="image/x-icon">
<link rel="stylesheet" href="../stylesheets/style4.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<body>
    <div id="main">
     <div class="top">
        <div class="logo">
            <img src="../images/Spotify-White-Logo-Icon-PNG.png" alt="">
              <h2>Sonic Pulse</h2>
        </div>
     </div>
     <div class="bottom">
        <div class="login-box">
            <div class="heading">
                <h1>Login With Sonic Pulse</h1> 
            </div>
            <div class="login-form">
                <div class="continue">
                    <div class="continue-box">
                        <i class="fab fa-facebook-f"></i>
                        <strong>Login With Facebook</strong>
                    </div>
                    <div class="continue-box">
                        <i class="fab fa-google"></i>
                        <strong>Login With Google</strong>
                    </div>
                    <div class="continue-box">
                        <i class="fab fa-apple"></i>
                        <strong>Login With apple</strong>
                    </div>
                </div>
               
                <form action="/register" method="post">
                    <div class="box-form">
                        <label for="text">Username</label>
                        <input type="text" name="username" placeholder="Username" id="text">
                    </div>
                    <div class="box-form">
                        <label for="text">Email</label>
                        <input type="text"  name="email" placeholder="Email" id="text">
                    </div>
                    <div class="box-form">
                        <label for="text">Password</label>
                        <input type="password" name="password" placeholder="Password" id="password">
                    </div>
                       
                    <div class="box-btn">
                        <button  class="btn btn-login">SIGNUP</button>
                    </div>

                    <div class="account">
                        I have an account ? <a href="/login">Login for now</a>
                    </div>
                </form>

            </div>
        </div>
     </div>
    </div>
</body>
</html>